// Primary
$color-brand-primary: #177276;

// Positives etc.
$color-positive: #2ff54e;
$color-caution: #f5c62f;
$color-negative: #d40000;

// Darken etc.
$color-brand-darken: #000000;
$color-brand-lighten: #FFFFFF;
